[submodule "dataproxy/messytables"]
	path = dataproxy/messytables
	url = https://github.com/okfn/messytables.git
[submodule "dataproxy/vendor/dataconverters"]
	path = dataproxy/vendor/dataconverters
	url = https://github.com/okfn/dataconverters.git
[submodule "dataproxy/vendor/messytables"]
	path = dataproxy/vendor/messytables
	url = https://github.com/okfn/messytables.git
[submodule "dataproxy/vendor/chardet"]
	path = dataproxy/vendor/chardet
	url = https://github.com/erikrose/chardet.git
